<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>Tassianator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./tassianator.css" rel="stylesheet" media="screen">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body ng-controller="tassianatorCtrl" ng-class="(waiting) ? 'psychor': ''">
        <audio id="horror" src="./media/horror.mp3"></audio>
        <nav class="navbar fa fa-5x">Tassianator</nav>
        <div class="container">
            <form>
                <div class="col-md-3">
                    <div ng-click="tassianate(normal)"> 
                        <a href="">
                        <div class="circular" ng-class="(waiting) ? 'rotate' : ''">
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <textarea name="awesome" ng-model="normal.msg" type="awesome" class="form-control expanding" placeholder="As pessoas..."></textarea>
                </div>
            </form>
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="http://bgrins.github.io/ExpandingTextareas/expanding.js"></script>
        <script src="./js/tassianator.js"></script>
    </body>

</html>
